<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Pure Glow</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="icon" href="https://cdn4.vectorstock.com/i/1000x1000/84/88/organic-icon-green-color-vector-3238488.jpg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div> -->
        <!-- Spinner End -->


        <!-- Navbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar bg-primary d-none d-lg-block">
                
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a href="/" class="navbar-brand"><h1 class="text-primary display-6">Pure Glow</h1></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/shop %>" class="nav-item nav-link">Shop</a>
                          
                        </div>
                        <div class="d-flex m-3 me-0">
                            <a href="/whishlist" class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" ><i class="fas fa-heart heart-icon ok"></i></a>
                            <!-- <a href="/cart" class="position-relative me-4 my-auto">
                                <i class="fa fa-shopping-bag fa-2x"></i> -->
                                <!-- <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"><%= totalCartCount%></span> -->
                            <!-- </a> -->
                            <a href="/profile" class="my-auto">
                                <i class="fas fa-user fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

        <script>
          document.addEventListener("DOMContentLoaded", function() {
                var checkboxes = document.querySelectorAll('.form-check-input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function() {
                        checkboxes.forEach(function(otherCheckbox) {
                            if (otherCheckbox !== checkbox) {
                                otherCheckbox.checked = false;
                            }
                        });
                    });
                });
            });
            document.addEventListener("DOMContentLoaded", function() {
                var checkboxes = document.querySelectorAll('.form-payment-input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function() {
                        checkboxes.forEach(function(otherCheckbox) {
                            if (otherCheckbox !== checkbox) {
                                otherCheckbox.checked = false;
                            }
                        });
                    });
                });
            });
        </script>
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!-- Modal closing button -->
            </div>
            <div class="modal-body">
                <!-- Address form -->
                <form id="addressForm" action="" method="POST" onsubmit="event.preventDefault(); submitForm()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                    </div><br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="number" name="number" placeholder="Phone number" pattern="[0-9]{10}" title="Please enter a 10 digit phone number" required>
                    </div><br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                    </div><br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
                    </div><br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="district" name="district" placeholder="District" required>
                    </div><br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                    </div><br>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="pincode" name="pincode" placeholder="Pincode" pattern="[0-9]{6}" title="Enter Correct Pincode" required>
                    </div><br>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div><br>
                    <button type="submit" class="btn btn-primary">Save Address</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    
    $(document).ready(function() {
        $('#addAddressBtn').click(function() {
            $('#addAddressModal').modal('show');
        });
    });

    function submitForm() {
        var form = document.getElementById("addressForm");
        if (form.checkValidity()) {
            const name = document.getElementById('name').value;
            const number = document.getElementById('number').value;
            const address = document.getElementById('address').value;
            const city = document.getElementById('city').value;
            const district = document.getElementById('district').value;
            const state = document.getElementById('state').value;
            const pincode = document.getElementById('pincode').value;
            const email = document.getElementById('email').value;

            axios.post('/addaddresscheckout', {
                name, number, address, city, district, state, pincode, email
            })
            .then(function(response) {
                console.log(response.data);
                location.reload();
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        } else {
            // Form is not valid, handle accordingly
        }
    }

    


    $(document).ready(function() {
    $('.edit-address').click(function() {
        var modalId = $(this).data('target');
        $(modalId).modal('show');
    });
});


function editaddress(addressId) {
        console.log(addressId);
        const name = document.getElementById('nameedit' + addressId).value;
        const number = document.getElementById('phoneedit' + addressId).value;
        const address = document.getElementById('addressedit' + addressId).value;
        const city = document.getElementById('cityedit' + addressId).value;
        const district = document.getElementById('districtedit' + addressId).value;
        const state = document.getElementById('stateedit' + addressId).value;
        const pincode = document.getElementById('pincodeedit' + addressId).value;
        const email = document.getElementById('emailedit' + addressId).value;

        console.log(name, number, address, city, district, state, pincode, email);

        axios.post('/editAddressFormcheckout/' + addressId, {
            name,
            number,
            address,
            city,
            district,
            state,
            pincode,
            email
        })
        .then(function(response) {
            console.log(response.data);
            location.reload();
        })
        .catch(function(error) {
            console.error('Error:', error);
        });
    }
 function addressdelete(addressId){

    console.log(addressId);
    axios.post(`/addressdelete/${addressId}`)

          .then(function (response) {
         
          location.reload()
        

        })
            .catch(function (error) {
                 console.error('Error:', error);
        });
 }
    
</script>


        <!-- Checkout Page Start -->
        <div class="container-fluid py-5 mt-5" style="">
            <div class="container py-5 mt-5">
                <h1 class="mb-4">Billing details</h1>
                
   
                <% if (userAddresse.length < 3) { %>
                    <button id="addAddressBtn" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addAddressModal">New Address</button>
                  <% } %>

                  <form id="form" action="/placeorder" method="POST"  onsubmit="return validateForm()">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <!-- Display user's addresses dynamically -->
                            <% userAddresse.forEach((address, index) => { %>
                                <span id="addressError" class="text-danger"></span>
                                <div class="form-item w-100 address-item" style="background-color: rgb(218, 226, 223); padding: 15px; border-radius: 20px; margin-top: 10px; position: relative;">
                                    <button type="button" class="btn btn-sm edit-address " style="position: absolute; top: 5px; left: 5px;" data-toggle="modal" data-target="#editAddressModal<%= index %>">
                                        <i class="bi bi-pencil-square" style="font-size: 20px;"></i>
                                    </button>
                                
                                    <button type="button" class="btn btn-sm delete-address ms-2 " style="position: absolute; top: 5px; left: 30px;" onclick="addressdelete('<%= address._id %>')">
                                        <i class="bi bi-trash" style="font-size: 20px; "></i>
                                    </button>
                                
                                    <input type="checkbox" class="form-check-input" style="position: absolute; top: 5px; right: 15px;" name="selectedAddressId" id="useDifferentAddress" data-address-id="<%= address._id %>" value="<%= address._id %>">
                                
                                    <h5 class="mt-5"><%= address.name %></h5>
                                    <p>
                                        <%= address.address %>,
                                        <%= address.city %>,
                                        <%= address.district %>,
                                        <%= address.state %>,
                                        <%= address.pincode %>
                                    </p>
                                    <h6><i class="bi bi-telephone" style="margin-right: 10px;"></i><%= address.phone %></h6>
                                   
                                    <!-- <h6><i class="bi bi-envelope" style="margin-right: 10px;"></i><%= address.email %></h6> -->
                                </div>
                                
                                <div class="modal fade" id="editAddressModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="editAddressModalLabel<%= index %>" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Edit Address Form -->
                                                <form id="editAddressForm<%= address._id %>" onsubmit="">
                                                    <input type="text" id="nameedit<%= address._id %>" name="name" placeholder="Name" class="form-control" value="<%= address.name %>" required><br>
                                                    <input type="tel" id="phoneedit<%= address._id %>" name="phone" placeholder="Phone number" class="form-control" value="<%= address.phone %>" required pattern="[0-9]{10}" title="Please enter a 10-digit phone number"><br>
                                                    <input type="text" id="addressedit<%= address._id %>" name="address" placeholder="Address" class="form-control" value="<%= address.address %>" required><br>
                                                    <input type="text" id="cityedit<%= address._id %>" name="city" placeholder="City" class="form-control" value="<%= address.city %>" required><br>
                                                    <input type="text" id="districtedit<%= address._id %>" name="district" placeholder="District" class="form-control" value="<%= address.district %>" required><br>
                                                    <input type="text" id="stateedit<%= address._id %>" name="state" placeholder="State" class="form-control" value="<%= address.state %>" required><br>
                                                    <input type="tel" id="pincodeedit<%= address._id %>" name="pincode" placeholder="Pincode" class="form-control" value="<%= address.pincode %>" required pattern="[0-9]{6}" title="Please enter correct pincode"><br>
                                                    <input type="email" id="emailedit<%= address._id %>" name="email" placeholder="Email" class="form-control" value="<%= address.email %>" required><br>
                                                    <button type="button" onclick="event.preventDefault(); editaddress('<%= address._id %>')" class="btn btn-primary">Save Changes</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            <% }); %>
                        
                            <div class="mt-5">
                                <select id="couponCodeInput" class="border-0 border-bottom rounded me-5 py-3 mb-4" placeholder="Coupon Code">
                                    <option value="" selected disabled>Select Coupon Code</option>
                                    
                                    <% coupons.forEach(function(coupon) { %>
                                        <option value="<%= coupon %>"><%= coupon %></option>
                                    <% }); %>
                                </select>
                                <button id="applyCouponBtn" class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button">Apply Coupon</button>
                                <button id="removeCouponBtn" class="btn border-secondary rounded-pill px-4 py-3 text-danger d-none" type="button">Remove Coupon</button>
                                <br><span id="couponError" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Products</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product => { %>
                                            <% if (!product.disable) { %>
                                                <input type="hidden" name="productIds[]" value="<%= product._id %>">
                                                <tr>
                                                <th scope="row">
                                                    <div class="d-flex align-items-center mt-2">
                                                        <img src="<%= product.image[0] %>" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                                    </div>
                                                </th>
                                                <td class="py-5"><%= product.productName %></td>
                                                <td class="py-5">₹<%= product.productPrice %></td> 
                                                <td class="py-5">
                                                    <% if (cart) { %>
                                                        <%= cart.products.find(item => item.productId.toString() === product._id.toString()).quantity %>
                                                    <% } else { %>
                                                        1
                                                    <% } %>
                                                </td>
                                                <td class="py-5">
                                                    <% if (cart) { %>
                                                        ₹<%= product.productPrice * cart.products.find(item => item.productId.toString() === product._id.toString()).quantity %>
                                                    <% } else { %>
                                                        ₹<%= product.productPrice %>
                                                    <% } %>
                                                </td>
                                                
                                        
                                            </tr>
                                            
                                            <% } %>
                                            
                                        <% }); %>
                                        <!-- Other rows for subtotal, shipping, and total -->
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                                <div class="col-12">
                                    <% if (cartTotal) { %>
                                        <p class="text-start text-dark">Total:₹<strong style="margin-right: 10px;" id=""><%= cartTotal %></strong></p>
                                    <% } %>
                                    
                                </div>
                                <div class="col-12">
                                    <% if (cartTotal) { %>
                                        <p class="text-start text-dark">SubTotal:₹<strong style="" id="totalamout"><%= cartTotal %></strong></p>
                                    <% } %>
                                    
                                </div>
                                <span id="couponmeseage" style="color: black; font-weight: 600;"></span>
                            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                               
                            </div>
                            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                                <div class="col-12">
                                    <div class="form-check text-start my-3">
                                        <input type="checkbox" class="form-payment-input bg-primary border-0" id="Delivery-1" value="Cash On Delivery" name="selectedPaymentMethod">
                                        <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
                                <div class="col-12">
                                    <div class="form-check text-start my-3">
                                        <input type="checkbox" class="form-payment-input bg-primary border-0" id="Delivery-1" value="Prepaid" name="selectedPaymentMethod">
                                        <label class="form-check-label" for="Delivery-1">Prepaid</label>
                                    </div>
                                </div>
                            </div>
                            <span id="paymentError" class="text-danger"></span>
                           
                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.getElementById('applyCouponBtn').addEventListener('click', function() {
                const selectedCoupon = document.getElementById('couponCodeInput').value;
            
                if (!selectedCoupon) {
                    document.getElementById('couponError').innerText = 'Please select a coupon code.';
                } else {
                    document.getElementById('couponError').innerText = '';
            
                    let totalamout = '<%= cartTotal %>';
                 
                   
            
                    axios.post('/coupenmanage', {
                        selectedCoupon,
                        totalamout
                    })
                    .then(function(response) {
                       if (response.data.adjustedTotalAmount) {
                            document.getElementById('totalamout').innerText = response.data.adjustedTotalAmount;
                       }
                            

                            if(response.data.message==="Coupon applied successfully"){
                                document.getElementById('couponmeseage').innerText = response.data.message
                                document.getElementById('couponmeseage').style.color = "green"

                            }else{
                                document.getElementById('couponmeseage').innerText = response.data.message
                                document.getElementById('couponmeseage').style.color = "red"
                            }
                        
                        document.getElementById('applyCouponBtn').classList.add('d-none');
                        document.getElementById('removeCouponBtn').classList.remove('d-none');

                       
                        
                    })
                    .catch(function(error) {
                        console.error(error);
                        alert('An error occurred while applying the coupon.');
                    });
                }
            });
            
            document.getElementById('removeCouponBtn').addEventListener('click', function() {
                let totalamout = '<%= cartTotal %>';
               
                    document.getElementById('totalamout').innerText = totalamout;
                
                document.getElementById('removeCouponBtn').classList.add('d-none');
                document.getElementById('applyCouponBtn').classList.remove('d-none');
                document.getElementById('couponCodeInput').value = ""; 
            });
        </script>

        <script>
            function validateForm() {
                var selectedAddress = document.querySelectorAll('input[name="selectedAddressId"]:checked');
                var selectedPaymentMethod = document.querySelectorAll('input[name="selectedPaymentMethod"]:checked');
        
                if (selectedAddress.length === 0) {
                    document.getElementById('addressError').innerText = "Please select an address.";
                    return false;
                } else {
                    document.getElementById('addressError').innerText = "";
                }
        
                if (selectedPaymentMethod.length === 0) {
                    document.getElementById('paymentError').innerText = "Please select a Payment method.";
                    return false;
                }else{
                    document.getElementById('paymentError').innerText = "";
                    return true
                }
        
                return true;
            }
        </script>
        <!-- Checkout Page End -->

<!-- Add this before the closing </body> tag in your HTML file -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    // Function to handle form submission
    const handleSubmit = (event) => {
        event.preventDefault(); // Prevent default form submission behavior

        // Gather form data
        const formData = new FormData(event.target);
        const selectedAddressId = formData.get('selectedAddressId');
        const selectedPaymentMethod = formData.get('selectedPaymentMethod');
        const productIds = formData.getAll('productIds[]'); // Use getAll to get all values of an array-like field

        const selectedCoupon = document.getElementById('couponCodeInput').value;

        console.log(selectedCoupon);

        let totalamout ='<%= cartTotal %>';
      

            totalamout = document.getElementById('totalamout').innerText.trim();

        console.log(selectedPaymentMethod);

      
        
        // Send data to server using Axios
        axios.post('/placeorder', {
            selectedAddressId,
            selectedPaymentMethod,
            productIds,
            totalamout,
            selectedCoupon,
           
        }).then(response => {
            // Log response from server
            console.log("Response:", response.data);

            // Handle further logic based on server response
            if (selectedPaymentMethod === 'Prepaid') {
                const razorpayOrder = response.data.razorpayResponse;
                const exactProducts = response.data.exactProducts;
                const exactAddress = response.data.exactAddress;
                const sanitizedTotalAmount = response.data.sanitizedTotalAmount;
                const quantity = response.data.quantity;

                // Initiate Razorpay Checkout
                const options = {
                    key: 'rzp_test_97NF7SboryYNH9', // Your Razorpay Key ID
                    amount: razorpayOrder.amount,
                    currency: razorpayOrder.currency,
                    order_id: razorpayOrder.id,
                    name: 'Pure Glow',
                    description: 'Payment for your order',
                    handler: function (response) {
                        console.log("Payment successful");
                        $('#successModal').modal('show'); // Show success modal
                        setTimeout(function () {
                            $('#successModal').modal('hide'); // Hide the modal after a delay
                            axios.post('/saveorder', {
                                exactProducts,
                                exactAddress,
                                sanitizedTotalAmount,
                                selectedPaymentMethod,
                                quantity,
                            }).then(response => {
                                console.log(response.data);
                                window.location.href = '/orders';
                            }).catch(error => {
                                console.error('Error saving order:', error); // Log any errors
                            });
                        }, 2000);
                    },
                    prefill: {
                        name: response.name,
                        email: response.name,
                        contact: response.number
                    },
                    theme: {
                        color: '#F37254' // Customize color if needed
                    }
                };

                const rzp = new Razorpay(options);
                rzp.open();
            } else {
                // Handle other payment methods (e.g., Cash On Delivery)
                if (response.data.message === true) {
                    $('#successModal').modal('show');
                    setTimeout(function () {
                        $('#successModal').modal('hide'); // Hide the modal
                        window.location.href = '/orders'; // Redirect to the order management page
                    }, 4000);
                }
            }
        }).catch(error => {
            console.error('Error:', error); // Log any errors
        });
    };

    // Add event listener to the form for form submission
    const form = document.getElementById('form');
    form.addEventListener('submit', handleSubmit);
</script>




<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content" style="background-color: rgb(160, 245, 160);">
            <div class="modal-body text-center" style="padding-top: 50px; padding-bottom: 50px;">
                <img src="https://static.vecteezy.com/system/resources/previews/011/858/556/original/green-check-mark-icon-with-circle-tick-box-check-list-circle-frame-checkbox-symbol-sign-png.png" alt="" style="width: 100px;">
                <h5 class="mt-3">Your order has been successfully placed.</h5>
            </div>
        </div>
    </div>
</div>























        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <h1 class="text-primary mb-0">Pure Glow</h1>
                                <p class="text-secondary mb-0">Fresh products</p>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <!-- <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email"> -->
                                <!-- <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button> -->
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                 
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Pure Glow</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">Ihsan tk</a><a class="border-bottom" href="https://themewagon.com"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    </body>

</html>